/* CSS By Nicole Randall */

/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --teal: #4ca7c0;
    --purple: #484fb7;
    --lavender: #6b8fe7;
    --yellow: #e9bb57;
    --pink: #d9526f;
    --dark-gray: #1e1e1e;
    --white: #ffffff;
    --primary-color: #F23131;
    --secondary-color: #F2F2F2;
    --accent-color: #000000;
    --body-font: "Inter", sans-serif;
    --heading-font: "Kavoon", serif;
}

/* GLOBAL STYLES (mobile first/small) */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: var(--lavender);
    color: var(--dark-gray);
    line-height: 1.6;
    max-width: 450px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: var(--purple);
    color: var(--white);
    padding: 2rem 1rem;
    text-align: center;
}

header p {
    margin-top: 0.75rem;
}

h1, h2 {
    font-family: var(--heading-font);
    margin-bottom: 1rem;
}

h1 {
    font-size: 3em;
    line-height: 1.1;
}

nav {
    background-color: var(--yellow);
    padding: 1rem;
    text-align: center;
}

nav h2 {
    font-size: 1.5em;
    margin-bottom: 0.75rem;
    color: var(--dark-gray);
}

nav ul li {
    margin-bottom: 0.75rem;
}

nav a {
    display: block;
    background-color: var(--white);
    color: var(--purple);
    padding: 0.75rem;
    font-weight: 700;
    text-decoration: none;
}

main {
    padding: 2rem 1rem;
    background-color: var(--purple);
}

section {
    margin: 2rem 0;
    background-color: var(--purple);
}

main section h2 {
    font-size: 2em;
    color: var(--white);
    margin-bottom: 1rem;
    } 

h3 {
    font-size: 1.5em;
    color: var(--yellow);
    font-family: var(--body-font);
    margin-bottom: 0.75rem;
    font-weight: 700;

}

h4 {
    font-size: 1.15rem;
    color: var(--purple);
    font-family: var(--body-font);
    margin-bottom: 1rem;
    font-weight: 700;
}

section img {
    width: 80px;
    
}

#services > section > section {
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--white);
    margin-bottom: 1rem;
}

#services img {
    width: 80px;
    margin-bottom: 1rem;
    
}

#services h4 {
    color: var(--purple);
    font-family: var(--body-font);
    margin-bottom: 0.5rem;
}

    #why-choose-us {
    background-color: var(--pink);
    padding: 1rem;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
}

#why-choose-us ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#why-choose-us li:nth-child(1) {
    background-color: var(--teal);
    margin-bottom: 0.5rem;
    padding: 1.25rem;
    text-align: center;
    font-weight: 700;
    border-radius: 0.75rem;
}

#why-choose-us li:nth-child(2){
    background-color: var(--lavender);
    margin-bottom: 0.5rem;
    padding: 1.25rem;
    text-align: center;
    font-weight: 700;
    border-radius: 0.75rem;
}

#why-choose-us li:nth-child(3){
    background-color: var(--yellow);
    margin-bottom: 0.5rem;
    padding: 1.25rem;
    text-align: center;
    font-weight: 700;
    border-radius: 0.75rem;
}

#why-choose-us li:nth-child(4){
    background-color: var(--white);
    margin-bottom: 0.5rem;
    padding: 1.25rem;
    text-align: center;
    font-weight: 700;
    border-radius: 0.75rem;
}




